*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: lime;
}

#counter{
  text-align: center;
  font-size: 5rem;
}

.btn-container{
  text-align: center;
}

button{
  padding: .5rem 1rem;
  border: none;
  background-color: transparent;
  color: lime;
  cursor: pointer;
}